* {
    font-family: "Work-Sans", sans-serif;
    box-sizing: border-box;
    text-align: center;
  }
  

  img {
    display: block; /* Evita espaços extras ao redor da imagem */
    max-height: 540px;
    max-width: 100%; /* Garante que a imagem não ultrapasse os limites */
    position: relative; /* Mantém a posição fixa dentro do fluxo do layout */
    align-self: center;
    cursor: pointer;
  }