* {
    font-family: "Work-Sans", sans-serif;
    box-sizing: border-box;
    text-align: center;
  }
  
  h1 {
    max-width: max-content;
    padding-top: 81px;
    padding-bottom: 0px;
    margin: 0px;
    font-size: 40px;
  }
  
  section.column {
    max-width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 18px;
    padding-left: 18px;
  }
  
  ol.texto {
    display: flex;
    list-style: none;
    flex-direction: column; /* Mudei para coluna para alinhar tudo verticalmente */
    justify-content: center;
    border-radius: auto;
    color: rgb(0, 0, 0);
    max-width: fit-content;
    padding-left: 70px;
  }
  
  img {
    display: block; /* Evita espaços extras ao redor da imagem */
    max-height: 380px;
    max-width: 100%; /* Garante que a imagem não ultrapasse os limites */
    position: relative; /* Mantém a posição fixa dentro do fluxo do layout */
    align-self: center;
    cursor: pointer;
    transition: opacity 0.3s ease-in-out;
  }
  
  ul.number {
    padding-left: 0;
    color: rgba(164, 164, 164, 0.745);
  }
  
  span.nome {
    display: block;
    width: auto;
    height: auto;
    margin: auto;
    padding: 12px 0px;
    font-size: 16px;
    color: rgb(64, 64, 64);
  }
  
  span.preço {
    display: inline;
    font-size: 20px;
    color: rgb(0, 0, 0);
    margin: auto;
    padding: 0px 4px;
  }
  span.quadradoverde {
    display: inline;
    padding: 10px 6px;
    background-color: rgb(2, 109, 75);
    color: rgb(255, 255, 255);
    font-size: 10px;
  }
  
  div.main {
    padding-left: 16px;
    padding-top: 8px;
  }
  
  div.legendaviolao {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 15px;
    max-width: 158.39px;
  }