* {
  font-family: "Work-Sans", sans-serif;
  box-sizing: border-box;
  text-align: center;
}

h1 {
  max-width: max-content;
  padding-top: 0px;
  padding-bottom: 0px;
  margin: 0px;
  font-size: 20px;
}

ol.texto {
  display: flex;
  list-style: none;
  flex-direction: column; /* Mudei para coluna para alinhar tudo verticalmente */
  justify-content: center;
  border-radius: auto;
  color: rgb(0, 0, 0);
  max-width: fit-content;
  padding-left: 70px;
}

img {
  display: block; /* Evita espaços extras ao redor da imagem */
  max-height: 200px;
  max-width: 100%; /* Garante que a imagem não ultrapasse os limites */
  position: relative; /* Mantém a posição fixa dentro do fluxo do layout */
  align-self: center;
}

ul.number {
  padding-left: 0;
  color: rgba(164, 164, 164, 0.745);
}

section.column {
  max-width: fit-content;
  display: flex;
  flex-direction: column; /* Para garantir que os itens fiquem alinhados na coluna */
  align-items: center; /* Alinha os itens no centro horizontalmente */
}

span.nome {
  display: block;
  width: auto;
  height: auto;
  margin: auto;
  padding: 6px;
  font-size: 10px;
}

span.preço {
  display: inline;
  font-size: 11px;
  color: rgb(0, 0, 0);
  margin: auto;
  padding: 0px 4px;
  
}
span.quadradoverde {
  display: inline;
  padding: 6px;
  background-color: rgb(2, 109, 75);
  color: rgb(255, 255, 255);
  font-size: 6px;
}

div.main {
  padding-left: 16px;
  padding-top: 8px;
}



div.legendaviolao {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-top: 20px;
}

