* {
  font-family: "Work-Sans", sans-serif;
  box-sizing: border-box;
  text-align: center;
}

h1 {
  max-width: max-content;
  margin: 0px;
  margin-bottom: 8px;
  padding-top: 16px;
  padding-bottom: 16px;
  font-size: 40px;
}

ol.texto {
  display: flex;
  list-style: none;
  flex-direction: row;
  justify-content: center;
  border-radius: auto;
  color: rgb(0, 0, 0);
  max-width: fit-content;
  padding-left: 60px;
}

img {
  display: block;
  max-height: 278px;
  align-items: center;
}

ul.number {
  padding-left: 0;
  color: rgba(164, 164, 164, 0.745);
}

section.column {
  max-width: fit-content;
  display: flex;
}

span.name {
  display: block;
  width: auto;
  height: auto;
  margin: auto;
}

span.preço {
  display: block;
  font-size: 20px;
  margin: auto;
}

div.main {
  padding-left: 16px;
}

li.legenda {
  padding-right: 16px;
}

div.legendaviolao {
  padding-top: 20px;
}
