* {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

body.texto {
  justify-content: center;
}

h1 {
  
  max-width: 50%; 
}

ol.texto {
  display: flex;
  list-style: none;
  flex-direction: row;
  justify-content: center; 
  padding-right: 1rem;
  border-radius: auto;
  color: rgb(0, 0, 0);
  max-width: fit-content;
  
}

img {    
  display: flex;            
  max-height: 278px;
}

ul.number {
  padding-left: 0;
  color: rgba(164, 164, 164, 0.745);
}



section.column {
  max-width: fit-content;
  display: flex;
  
}

span.name {
  display: block;
  text-align: center;
}

span.number {
  background-color: rgb(16, 118, 101);
}